.head_height {
    height: 75px;
    border: 1px solid red;
}

.content_height {
    min-height: calc(100vh - 175px);
    clear: both;
    margin: 25px 20px 25px 20px;
    border: 1px solid blue;
}

.footer_height {
    height: 50px;
    border: 1px solid green;
}